@model Arac
@{
    ViewData["Title"] = "Araç düzenle";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Marka" class="form-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Model" class="form-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Plaka" class="form-label"></label>
                <input asp-for="Plaka" class="form-control" />
                <span asp-validation-for="Plaka" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GunlukUcret" class="form-label"></label>
                <input asp-for="GunlukUcret" class="form-control" />
                <span asp-validation-for="GunlukUcret" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="Musait" class="form-check-input" />
                <label asp-for="Musait" class="form-check-label"></label>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a class="btn btn-outline-secondary" asp-action="Index">İptal</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
